<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Create Task</div>
      </div>
      <div class="card-body">
        <form #form [formGroup]="createForm" novalidate (ngSubmit)="onSubmit(createForm)">
          <div class="form-group">
            <label class="col-form-label">Enter Title</label>
            <input class="form-control form-control-plaintext" placeholder="Enter Title" required formControlName="title">
            <p class="alert alert-info" *ngIf="titleControl.touched && !titleControl.valid">Required Field</p>
          </div>
          <div class="form-group">
            <label class="col-form-label">Select Status</label>
            <select class="form-control" formControlName="status" title="Select Status" required>
              <option value="0"></option>
              <option value="1">Pending</option>
              <option value="3">In Progress</option>
              <option value="2">Completed</option>
            </select>
            <p class="alert alert-info" *ngIf="statusControl.touched && !statusControl.valid">Required Field</p>
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Create" [disabled]="!createForm.valid">
        </form>
      </div>
    </div>
  </div>
</div>
