
<header *ngIf="this.service.isAuthenticated()" class="main-header">
  <!-- Logo -->
  <a routerLink="dashboard" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>Todo</b>Tasks</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Todo</b>Tasks</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
 </nav>
</header>

<aside *ngIf="this.service.isAuthenticated()"  class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!-- search form -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a routerLink="">
          <i class="fa fa-home"></i> <span>Home</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dashboard/">
          <i class="fa fa-home"></i> <span>Dashboard</span>
          <span class="pull-right-container">
            </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dashboard/tasks">
          <i class="fa fa-tasks"></i> <span>My Task</span>
          <span class="pull-right-container">
            </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dashboard/create">
          <i class="fa fa-tasks"></i> <span>Create Task</span>
          <span class="pull-right-container">

          </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dashboard/changePassword">
          <i class="fa fa-gear"></i> <span>Change Password</span>
          <span class="pull-right-container">

          </span>
        </a>
      </li>
      <li>
        <a href="#" (click)="LogOut()">
          <i class="fa fa-sign-out"></i> <span>Log Out</span>
          <span class="pull-right-container">
          </span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
