<ul class="pagination">
  <li class="page-item" (click)="changePage(currentPage - 1)" *ngIf="currentPage - 1 > 0"><a class="page-link">Previous</a></li>
  <li class="page-item" (click)="changePage(currentPage - 1)" *ngIf="currentPage - 1 > 0"><a class="page-link">{{ currentPage - 1  }}</a></li>
  <li class="page-item active" (click)="changePage(currentPage)"><a class="page-link">{{ currentPage }}</a></li>
  <li class="page-item" (click)="changePage(currentPage + 1)" *ngIf="currentPage + 1 <= TotalPage"><a class="page-link">{{ currentPage + 1 }}</a></li>
  <li class="page-item" (click)="changePage(currentPage + 1)" *ngIf="currentPage + 1 <= TotalPage"><a class="page-link">Next</a></li>
</ul>
