<div class="register-box">
  <div class="register-logo">
    <a routerLink="" class="nav-link"><b>Todo</b>Tasks</a>
  </div>
  <div class="register-box-body">
    <p class="login-box-msg">Register as A User</p>
    <form #form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit(registerForm)">
      <div class="form-group">
        <label class="col-form-label">Enter Full Name</label>
        <input class="form-control form-control-plaintext" placeholder="Enter Full Name" required formControlName="fullName">
        <p class="alert alert-info" *ngIf="fullName.touched && !fullName.valid">Required Field</p>
      </div>
      <div class="form-group">
        <label class="col-form-label">Enter Email</label>
        <input class="form-control form-control-plaintext" placeholder="Enter Email" type="email" required formControlName="email">
        <p class="alert alert-info" *ngIf="email.touched && !email.valid">Required Field - Must be an Email</p>
      </div>
      <div [formGroup]="passwordFormGroup">
        <div class="form-group">
          <label class="col-form-label">Enter Password</label>
          <input class="form-control form-control-plaintext" type="password" placeholder="Enter Password" required formControlName="password">
          <p class="alert alert-info" *ngIf="password.touched && !password.valid">Required Field - Must be Strong Password</p>
        </div>
        <div class="form-group">
          <label class="col-form-label">Repeat Password</label>
          <input class="form-control form-control-plaintext" type="password" placeholder="Repeat Password" required formControlName="confirmPassword">
          <p class="alert alert-info" *ngIf="confirmPassword.touched && !confirmPassword.valid">Required Field - Must be Strong Password</p>
        </div>
        <p class="alert alert-info" *ngIf="passwordFormGroup.touched && !passwordFormGroup.valid">Should Match Password Field</p>

      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Register" [disabled]="!registerForm.valid">
    </form>
    <a routerLink="/login" class="text-center">Already have an Account?</a>
  </div>
  <!-- /.login-box-body -->
</div>

