<div class="login-box">
  <div class="login-logo">
    <a routerLink="" class="nav-link"><b>Todo</b>Tasks</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Forgot Password</p>
    <form #form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm)">
      <div class="form-group">
        <label class="col-form-label">Enter Email</label>
        <input class="form-control form-control-plaintext" placeholder="Enter Email" required formControlName="email">
        <p class="alert alert-info" *ngIf="email.touched && !email.valid">Required Field</p>
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Send Link" [disabled]="!loginForm.valid">
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
