<div class="modal-header">
  <h4 class="modal-title">Assign Task</h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm">
      <form #form [formGroup]="createForm" novalidate>
        <div class="form-group">
          <label class="col-form-label">Assign Task to User</label>
          <select class="form-control" formControlName="assign" title="Select Status" required>
            <option *ngFor="let u of list" value="{{ u.id }}">{{ u.fullName }}</option>
          </select>
          <p class="alert alert-info" *ngIf="assignControl.touched && !assignControl.valid">Required Field</p>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" (click)="bsModalRef.hide()" class="btn btn-default" data-dismiss="modal">No</button>
  <button type="button" (click)="assign(createForm)" class="btn btn-primary" data-dismiss="modal">Assign</button>
</div>
