<div class="row">
  <div class="col-sm">
    <table class="table table-bordered table-light" *ngIf="this.service.list">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Assign To</th>
        <th *ngIf="!isSelf">Options</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="this.service.list.length == 0">
        <td colspan="7" class="text-center">No Data Found</td>
      </tr>

      <tr *ngFor="let todo of service.list">
        <td>{{ todo.id }}</td>
        <td>{{ todo.title }}</td>
        <td>{{ todo.status | status}}</td>
        <td>{{ todo.createdAt | date:'medium'}}</td>
        <td>{{ todo.updatedAt | date:'medium' }}</td>
        <td>{{ todo.assignedUser?.fullName }}</td>
        <td *ngIf="!isSelf">
          <button *ngIf="!todo.isClosed" class="btn btn-info" (click)="EditTodo(todo.id)">Edit</button>
          <button *ngIf="!todo.isClosed" class="btn btn-default" (click)="AssignTodo(todo)">Assign</button>
          <button *ngIf="!todo.isClosed" class="btn btn-danger" (click)="DeleteTodo(todo.id)">Delete</button>
          <button  *ngIf="!todo.isClosed" class="btn btn-primary" (click)="CloseTodo(todo.id)">Close</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm">
      <app-paginator [currentPage]="this.service.currentPage" [TotalPage]="this.service.pageCount" (pageClick)="ChangePage($event)"></app-paginator>
  </div>
</div>
