<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!this.service.isAuthenticated()">
  <a class="navbar-brand" href="/">Todo Tasks App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLinkActive="active" routerLink="/account/login">Login</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLinkActive="active" routerLink="/account/register">Register</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLinkActive="active" routerLink="/account/forgetPassword">Forget Password</a>
      </li>
    </ul>
  </div>
</nav>
