/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "assets/css/AdminLTE.min.css";
@import "assets/css/skins/_all-skins.min.css";
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
