<div class="row">
  <div class="col-sm">
    <div class="login-box">
      <div class="login-box-body">
        <p class="login-box-msg">Reset Password</p>
        <form #form [formGroup]="resetForm" novalidate (ngSubmit)="onSubmit(resetForm)">

          <div class="form-group">
            <label class="col-form-label">Enter Email</label>
            <input class="form-control form-control-plaintext" type="email" placeholder="Enter Email" required formControlName="email">
            <p class="alert alert-info" *ngIf="email.touched && !email.valid">Required Field</p>
          </div>
          <div [formGroup]="passwordFormGroup">
            <div class="form-group">
              <label class="col-form-label">Enter New Password</label>
              <input class="form-control form-control-plaintext" type="password" placeholder="Enter New Password" required formControlName="newPassword">
              <p class="alert alert-info" *ngIf="newPassword.touched && !newPassword.valid">Required Field</p>
            </div>
            <div class="form-group">
              <label class="col-form-label">Repeat New Password</label>
              <input class="form-control form-control-plaintext" type="password" placeholder="Repeat New Password" required formControlName="newRepeatPassword">
              <p class="alert alert-info" *ngIf="newRepeatPassword.touched && !newRepeatPassword.valid">Required Field</p>
            </div>
          </div>
          <input type="hidden" formControlName="code">
          <input type="hidden" formControlName="userId">
          <input type="submit" class="btn btn-primary btn-block" value="Reset" [disabled]="!resetForm.valid">
        </form>
      </div>
    </div>
  </div>
</div>
